@media all and (max-width: 1440px)
    .backgroundVideo
        video
            background-position: 38% bottom !important

@media all and (max-width: 1440px)
    .backgroundPage
        padding-bottom: 0

    .advantageBox 
        margin-bottom: 200px

@media all and (max-width: 1260px)
    .titleContainer, .descriptionContainerBox, .theCostContainer, .itemContainerBox
        padding: 20px
        box-sizing: border-box

    .imgPage
        height: 500px

    .advantageContainer
        padding: 20px
        box-sizing: border-box
        flex-direction: column

    .itemImg
        width: 320px
        height: auto

    .itemImg.imgCenter
        height: 180px
        width: auto

    .titleVideo, .titlePage
        max-width: 540px
        font-size: 42px

    .theCostTitle
        font-size: 42px

    .descriptionVideo, .descriptionPage
        font-size: 18px

    .advantageBox 
        margin-bottom: 150px

    .theCostTitle
        margin-bottom: 50px
    
    .itemImg
        margin: 0 auto


@media all and (max-width: 1000px)
    .cryptoContainerBox .titleAbs, .absText, .servicesBox .titleAbs
        font-size: 80px

    .navBox
        max-width: 560px

    .navBox .ulNav
        max-width: 385px

    .getOs 
        width: 120px
        height: 38px

    .logoD
        display: none

    .logoM
        display: block

    .socialLink
        position: static
        margin: 0

    .footerInfo
        justify-content: space-between
        align-items: flex-end

@media all and (max-width: 900px)
    .imgPage
        height: 300px

    .advantageContainerBox .descriptionPage
        margin-bottom: 120px

    .advantageBox 
        max-width: 380px
        margin-bottom: 120px
        padding-top: 85px
        height: 350px
        .imgBox
            top: -60px
            height: 120px
        .title
            font-size: 22px

    .itemImg
        width: 260px
    
    .itemImg.imgCenter 
        height: 160px

    .itemImg
        margin: 0

    .boxBlock
        max-width: 400px
        .title
            font-size: 28px
        .description
            font-size: 16px

    .boxblockImages
        margin-bottom: 100px

    .itemContainerBox
        margin-top: 60px
    
    .itemContainerBox .itemBox
        max-width: 300px

    .itemContainerBox.bgrPosition
        background-position-y: 80%

    .theCosBox
        margin: 0 auto
        margin-bottom: 80px

    .theCostContainer
        flex-direction: column
        margin-bottom: 0

    .navFooter a
        font-size: 22px

    .theCostTitle
        margin-bottom: 20px
        margin-top: 100px

    .footer
        padding: 50px 100px 0 100px

    .footerInfo
        margin-top: 50px

@media all and (max-width: 780px)
    .boxblockImages
        flex-direction: column
        text-align: center
        .itemImg
            order: 2
            margin-top: 35px

    .itemContainerBox .itemContainer
        flex-direction: column
        text-align: center
        margin-bottom: 0
        .itemBox
            margin: 0 auto
            margin-top: 35px

    .boxBlock .description
        padding-left: 0

    .itemContainerBox .itemBox .description
        padding-left: 0

    .itemContainerBox
        background-position: center top

    .downloadTitle
        margin-top: 50px

    .itemContainerBox.bgrPosition 
        background-position-y: top

    .titleVideo, .titlePage
        font-size: 34px

    .cryptoContainerBox .titleAbs, .absText, .servicesBox .titleAbs
        font-size: 60px

    .descriptionContainerBox
        margin-top: 60px

    .descriptionPage
        margin-top: 25px

    .footer
        padding: 25px 20px 0 20px
        a 
            font-size: 18px

    .navFooter
        margin-top: 25px

    .footerInfo
        margin-top: 25px

    .logoFooter
        height: 40px

    .partner
        flex-direction: column

    .partner img
        margin-top: 5px

@media all and (max-width: 680px)
    .navBox .ulNav
        max-width: 350px
        position: absolute
        padding: 0 5px
        margin: 0 auto
        left: 0
        right: 0
        bottom: 5px
        box-sizing: border-box
        li a 
            font-size: 16px

    .select-styled:after
        right: -10px

    .getOs 
        width: 80px
        height: 30px
        font-size: 12px

    .logoD
        display: block
        height: 22px
        margin-top: 3px
        margin-right: 25px

    .logoM
        display: none

    .navBox
        max-width: 80px

    .headerBox
        margin: 0 auto
        justify-content: center

    header
        padding: 10px 5px 35px 5px

    .overflowHdn 
        overflow: hidden
        padding: 0 20px
        box-sizing: border-box

    .imgPage 
        height: auto

    .backgroundVideo video 
        background-position: left bottom !important

@media all and (max-width: 480px)
    .descriptionPage 
        margin-top: 15px
        margin-bottom: 20px

    .titleVideo, .titlePage
        font-size: 26px

    .descriptionVideo, .descriptionPage
        font-size: 16px
        line-height: 25px

    .advantageBox .imgBox 
        top: -50px
        height: 100px

    .advantageBox
        max-width: 340px
        margin-bottom: 100px

    .advantageContainerBox .descriptionPage
        margin-bottom: 70px

    .downloadTitle
        font-size: 26px

    .itemContainerBox .itemBox .title
        font-size: 22px
        margin-top: 20px

    .itemContainerBox .itemBox .description
        font-size: 16px
        margin-top: 20px

    .boxBlock 
        .description, .title
            margin-top: 20px

    .boxBlock .title
        font-size: 26px

    .videoBtn
        margin: 0 auto
        flex-direction: column
        margin-top: 30px

    .videoBtn .container.btnRgt
        margin-top: 25px

    .cryptoContainerBox
        padding: 80px 20px 0px 20px

    .cryptoContainerBox .titlePage
        position: relative
        top: 0

    .cryptoContainerBox .titleAbs
        top: 40px

    .boxblockImages
        margin-top: 80px

    .itemContainerBox, .descriptionContainerBox
        margin-top: 0

    .cryptoContainerBox .titleAbs, .absText, .servicesBox .titleAbs
        font-size: 50px

    .imgTitle
        height: 40px

    .servicesBox .hint
        margin-top: 10px
        margin-bottom: 20px
        font-size: 30px

    .servicesBox
        padding-top: 150px

    .imgTitle
        top: 85px

    .theCostTitle
        font-size: 26px

    .footerItem .description
        font-size: 16px
        img 
            height: 16px

    .headerItem .hint
        font-size: 44px

    .itemImg 
        width: 220px

    .advantageContainerBox .descriptionPage
        padding: 0 20px
        box-sizing: border-box

    .advantageContainerBox 
        margin-top: 80px
    
    .footer
        position: relative
        display: flex
        padding: 60px 20px 20px 20px
        align-items: baseline
        line-height: 25px

    .logoFooter
        position: absolute
        left: 0
        right: 0
        margin: 0 auto
        top: 20px


    .navFooter
        flex-direction: column
        align-items: flex-start

    .footerInfo
        flex-direction: column

    .socialLink
        margin-bottom: 20px
        text-align: right




