html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  border: 0
  font-size: 100%
  font: inherit
  margin: 0
  padding: 0
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section, input, textarea, select, button
  display: block


ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  outline: none
  text-decoration: none
  color: #000

body
  overflow-x: hidden
  background: #000

header
  position: fixed
  width: 100%
  padding-top: 25px
  transition: all .5s
  padding: 20px
  background: rgba(0, 0, 0, .8)
  box-sizing: border-box

.transformHeader
  transform: translate3d(0px, -122px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)

.felx-box
  display: flex
  justify-content: space-between
  align-items: center

.videoSection
  position: relative
  z-index: 2
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 100
  display: block
  min-height: 100vh
  overflow: hidden

.headerBox
  max-width: 1240px
  width: 100%
  margin: 0 auto
  @extend .felx-box

.navBox
  max-width: 720px
  width: 100%
  @extend .felx-box
  .ulNav
    max-width: 420px
    width: 100%
    @extend .felx-box
    li a 
      font-family: "GT-Eesti-Pro-Text-Regular"
      font-size: 18px
      color: #fff

.backgroundVideo
  video
    background-position: 47% bottom !important

.getOs
  width: 190px
  height: 50px
  background-image: linear-gradient(75deg, #ff4da7, #ff5b4e)
  border-radius: 5px
  border: none
  font-size: 14px
  text-transform: uppercase
  color: #fff
  font-family: "GT-Eesti-Pro-Text-Bold"
  cursor: pointer

.titleContainer
  max-width: 1100px
  width: 100%
  margin: 0 auto
  margin-top: 200px

.titleVideo
  max-width: 767px
  width: 100%
  font-size: 64px
  font-family: "GT-Eesti-Pro-Text-Thin"
  color: #fff

.descriptionVideo
  max-width: 470px
  width: 100%
  font-family: "GT-Eesti-Pro-Text-Light"
  font-size: 21px
  color: #cac8e5
  line-height: 30px
  margin-top: 30px

.videoBtn
  max-width: 400px
  width: 100%
  @extend .felx-box
  margin-top: 50px
  button 
    width: 190px
    height: 50px
    color: #fff
    font-size: 16px
    font-family: "GT-Eesti-Pro-Text-Bold"
    cursor: pointer
  .btnLft
    background-image: linear-gradient(255deg, #8f71f2, #7461ee)
    border: none
    border-radius: 5px
  .container.btnRgt
    margin: 0
    a span 
      text-transform: capitalize
      img 
        margin-left: 10px


.backgroundVideo
  position: absolute
  left: 0
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: -10
  background-attachment: scroll,fixed
  video 
    background-size: cover
    position: absolute
    right: 0
    bottom: 0
    top: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    z-index: -100

.titlePage
  max-width: 780px
  width: 100%
  margin: 0 auto
  text-align: center
  font-family: "GT-Eesti-Pro-Text-Thin"
  font-size: 48px
  color: #fff

.descriptionPage
  max-width: 1030px
  width: 100%
  margin: 0 auto 
  text-align: center
  color: #cac8e5
  font-size: 21px
  font-family: "GT-Eesti-Pro-Text-Light"
  margin-top: 50px
  margin-bottom: 50px

.imgPage
  max-width: 100%
  display: block
  margin: 0 auto

.backgroundPage
  background: url("../img/Landing Page.png")
  background-size: cover
  padding-bottom: 300px

.advantageContainerBox
  margin-top: 110px
  .descriptionPage
    max-width: 834px
    margin-bottom: 160px
    span 
      font-family: "GT-Eesti-Pro-Text-Medium"
      color: #fff

.advantageContainer
  max-width: 1240px
  width: 100%
  margin: 0 auto
  @extend .felx-box

.advantageBox
  position: relative
  max-width: 400px
  height: 390px
  width: 100%
  padding-top: 135px
  box-sizing: border-box
  border-radius: 9px
  background-image: linear-gradient(to bottom, #2d2154, #1f1638)
  .title
    font-size: 26px
    color: #cac8e5
    font-family: "GT-Eesti-Pro-Text-Light"
    text-align: center
    margin-bottom: 30px
  .description
    width: 300px
    margin: 0 auto
    color: #817db5
    line-height: 25px
    font-family: "GT-Eesti-Pro-Text-Light"
    margin-bottom: 10px
    display: flex
    align-items: baseline
    img 
      margin-right: 15px
  .imgBox
    position: absolute
    margin: 0 auto
    left: 0
    right: 0
    top: -80px

.cryptoContainerBox
  position: relative
  overflow: hidden
  padding-top: 80px
  .titleAbs
    position: absolute
    color: #171717
    font-family: "GT-Eesti-Pro-Text-Bold"
    font-size: 120px
    margin: 0 auto
    left: 0
    right: 0
    text-align: center
    top: 15px
  .titlePage
    position: relative
    top: 20px
  .imgTitle
    top: 2px

.descriptionContainerBox
  max-width: 1100px
  width: 100%
  margin: 0 auto
  margin-top: 140px

.boxblockImages
  width: 100%
  @extend .felx-box
  margin-bottom: 200px

.boxBlock
  max-width: 500px
  width: 100%
  .title
    background: -webkit-linear-gradient(45deg, #ff4da7, #ff5b4e 80%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: "GT-Eesti-Pro-Text-Medium"
    font-size: 34px
    margin-top: 30px
  .description
    max-width: 400px
    margin-top: 30px
    font-size: 17px
    color: #cac8e5
    line-height: 1.41
    font-family: "GT-Eesti-Pro-Text-Light"
    padding-left: 25px
    span 
      color: #fff
      font-family: "GT-Eesti-Pro-Text-Medium"

.itemContainerBox
  position: relative
  max-width: 920px
  width: 100%
  margin: 0 auto
  background: url(  "../img/Group 106@1x Copy 4.png") no-repeat
  background-position: center bottom
  .itemContainer
    max-width: 800px
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 90px
    margin: 0 auto
    margin-bottom: 50px
  .itemBox
    max-width: 344px
    width: 100%
    .title 
      font-size: 28px
      color: #fff
      font-family: "GT-Eesti-Pro-Text-Regular"
      margin-top: 30px
    .description
      max-width: 310px
      margin-top: 30px
      font-size: 17px
      color: #cac8e5
      line-height: 1.41
      font-family: "GT-Eesti-Pro-Text-Light"
      padding-left: 25px
      span 
        color: #fff
        font-family: "GT-Eesti-Pro-Text-Medium"


.downloadTitle
  text-align: center
  font-size: 34px
  color: #fff
  font-family: "GT-Eesti-Pro-Text-Regular"
  margin-top: 150px
  span 
    background: -webkit-linear-gradient(45deg, #ff4da7, #ff5b4e, #ff4da7 80%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.servicesBox
  position: relative
  overflow: hidden
  padding-top: 200px
  .titleAbs
    position: absolute
    color: #171717
    font-family: "GT-Eesti-Pro-Text-Bold"
    font-size: 120px
    margin: 0 auto
    left: 0
    right: 0
    text-align: center
    top: 120px
    z-index: -1
  .hint
    margin-top: 30px
    margin-bottom: 50px
    background: -webkit-linear-gradient(45deg, #ff4da7, #ff5b4e, #ff4da7 80%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-align: center
    font-size: 34px
    font-family: "GT-Eesti-Pro-Text-Regular" 

.theCostTitle
  font-size: 64px
  font-family: "GT-Eesti-Pro-Text-Thin"
  text-align: center
  color: #fff
  margin-top: 150px
  margin-bottom: 100px

.theCostContainer
  max-width: 950px
  width: 100%
  margin: 0 auto
  @extend .felx-box
  align-items: baseline
  margin-bottom: 150px

.imgTitle
  position: absolute
  margin: 0 auto
  left: 0
  right: 0
  z-index: 1
  top: 120px

.absText
  position: absolute
  color: #171717
  font-family: "GT-Eesti-Pro-Text-Bold"
  font-size: 120px
  margin: 0 auto
  left: 0
  right: 0
  text-align: center
  top: -40px
  z-index: -1

.theCosBox
  max-width: 400px
  width: 100%

.headerItem
  z-index: 2 
  position: relative
  background: #896DF1
  border-radius: 9px
  padding: 30px
  text-align: center
  .title
    font-family: "GT-Eesti-Pro-Text-Regular"
    color: #fff
    font-size: 28px
  .hint
    font-family: "GT-Eesti-Pro-Text-Medium"
    font-size: 64px
    color: #fff
    span 
      font-size: 20px
      font-family: "GT-Eesti-Pro-Text-Regular"

.footerItem
  position: relative
  top: -8px
  background-image: linear-gradient(to bottom, #2d2154, rgba(0, 0, 0, .1), rgba(31, 22, 56, 0))
  padding: 30px
  box-sizing: border-box
  .description
    font-family: "GT-Eesti-Pro-Text-Regular"
    font-size: 21px
    color: #fff
    display: flex
    align-items: center
    margin-bottom: 20px
    span 
      margin-left: 25px
      line-height: 25px

.leftBtnD
  width: 240px
  height: 65px
  color: #fff
  font-size: 17px
  font-family: "GT-Eesti-Pro-Text-Bold"
  cursor: pointer
  text-transform: uppercase
  margin: 0 auto
  margin-top: 70px
  background-image: -webkit-linear-gradient(195deg, #8f71f2, #7461ee)
  background-image: -o-linear-gradient(195deg, #8f71f2, #7461ee)
  background-image: linear-gradient(255deg, #8f71f2, #7461ee)
  border: none
  border-radius: 5px
  display: flex
  align-items: center
  justify-content: center

.container.bigM
  margin-top: 70px

.button.down
  background: linear-gradient(255deg, #ff4da7, #ff5b4e)
  border-radius: 5px
  color: #fff
  display: inline-block
  font-size: 20px
  padding: 1px
  text-decoration: none
  font-family: "GT-Eesti-Pro-Text-Bold"
  font-size: 14px
  text-transform: uppercase
  font-size: 17px
  span 
    width: 240px
    height: 65px
    background: #000
    display: flex
    align-items: center
    justify-content: center
    border-radius: 6px





.headerItem .hint .dollar
  font-size: 40px
  position: relative
  top: -7px

.headerItem.pinkC
    background-image: linear-gradient(66deg, #ff4da7, #ff5b4e)

.footer
  width: 100%
  background: #896DF1
  padding: 80px 100px 0 100px
  box-sizing: border-box

.logoFooter
  margin: 0 auto
  display: block

.navFooter
  max-width: 800px
  width: 100%
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 50px
  a 
    font-size: 28px
    color: #fff 
    font-family: "GT-Eesti-Pro-Text-Regular"

.footerInfo
  position: relative
  width: 100%
  margin-left: auto
  display: flex
  align-items: center
  justify-content: flex-end
  margin-top: 100px
  padding-bottom: 25px

.socialLink
  position: absolute
  margin: 0 auto
  left: 0
  right: 0
  top: -10px
  text-align: center
  font-family: "GT-Eesti-Pro-Text-Thin"
  color: #fff 
  font-size: 17px

.partner
  max-width: 270px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-end
  font-family: "GT-Eesti-Pro-Text-Thin"
  color: #fff
  img 
    width: 100px

//select 
    
.select-hidden 
  display: none
  visibility: hidden
  padding-right: 10px

.select 
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 16px
  color: #fff
  width: 20px
  height: 18px

.select-styled 
  position: absolute 
  top: 0
  right: 0
  bottom: 0
  left: 0
  font-family: "GT-Eesti-Pro-Text-Regular"
  font-size: 18px
  &:after 
    content: ""
    border-left: 3px solid transparent
    border-right: 3px solid transparent
    border-top: 5px solid #fff
    position: absolute
    top: 9px
    right: -14px
  &:active, &.active 
    &:after 
      transform: rotate(180deg)

.select-options
  display: none 
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  margin: 0
  padding: 0
  list-style: none
  li 
    margin: 0
    font-family: "GT-Eesti-Pro-Text-Regular"
    font-size: 18px
    line-height: 40px
    &[rel="hide"] 
      display: none
    
.bgrSection
  position: relative
    
.bgrBlocks
  position: absolute
  width: 100%
  margin: 0 auto
  left: 0
  right: 0
  top: 60px
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #644fb6 52%, #312759 77%, #000000)
  height: 600px
  opacity: 0.25

.itemContainerBox.bgrPosition
  background-position-y: 180%
  background-position-x: center

.imgCenter
  margin-left: 100px




.button 
  background: linear-gradient(255deg, #ff4da7, #ff5b4e)
  border-radius: 5px
  color: #fff
  display: inline-block
  font-size: 20px
  padding: 1px
  text-decoration: none
  font-family: "GT-Eesti-Pro-Text-Bold"
  font-size: 14px
  text-transform: uppercase

.button span 
  background: #000
  display: flex
  align-items: center
  justify-content: center
  width: 190px
  height: 50px
  border-radius: 6px

.container 
  text-align: center
  margin-top: 30px

.description.customMrg
  margin-bottom: 35px

.description.mTop
  margin-top: 10px

.description.mBott
  margin-bottom: 10px

.overflowHdn
  overflow: hidden

.logoM
  display: none
  height: 35px